<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= idT
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        style
            include pug.css
    body

        nav(class="navbar navbar-expand-lg nav")
            a(class="navbar-brand")= "Znam_py"
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarNav")
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        a(class="nav-link" href="javascript:history.back()")= "Nazaj"
            li(class="nav-item")
                a(class="nav-link" href="/") Odjava
        br
        div(class="container-fluid")
            div(class="row")
                div(class="col-xl-4 sez")
                div(class="col-xl-4 sez")


                    h1= idT
                    table(class="table nalogeoducencu" border="1")
                        tr
                            th naloga
                            th navodila
                            th koda
                            th dosežene tocke
                        tr
                            td 1.
                            td= test.n1Navodila
                            td= test.koda1
                            td= test.naloga1
                        tr
                            td 2.
                            td= test.n2Navodila
                            td= test.koda2
                            td= test.naloga2
                        tr
                            td 3.
                            td= test.n3Navodila
                            td= test.koda3
                            td= test.naloga3
                        tr
                            td 4.
                            td= test.n4Navodila
                            td= test.koda4
                            td= test.naloga4

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")